{% extends 'base.html' %}

{% block title %}
    My courses
{% endblock %}

{% block content %}
    <div class="container">
        <div class="column is-8 is-offset-2">
            <h1 class="title w3-center">My Courses</h1>
            {% for course in course_list %}
                <h3 class="subtitle">{{ course.title }}</h3>
                <p>
                    <a href="{% url "courses:course_edit"  course.pk %}">Edit</a>
                    <br>
                    <a href="{% url "courses:course_delete"  course.pk %}">Delete</a>
                    <br>
                    <a href="{% url "courses:course_module_update" course.pk %}">Edit modules</a>
                    <br>
                    {% if course.modules.count > 0 %}
                        <a href="{% url "courses:module_content_list" course.modules.first.id %}">Manage contents</a>
                    {% endif %}
                    <br>
                </p>
            {% empty %}
                <p>You haven't created any courses yet.</p>
            {% endfor %}
            <p>
                <a href="{% url "courses:course_create" %}" class="button">Create New Course</a>
            </p>

        </div>
    </div>
{% endblock %}